<div class="d-flex flex-column page">
  <div>
    <section class="title">
      <p>404 Not Found</p>
    </section>
  </div>
  <div class="flex-fill d-flex align-items-center my-5 my-lg-0">
    <div class="container-fluid">
      <div class="row align-items-start justify-content-center">
        <div class="col-lg text-center">
          <img src="../assets/Scarecrow.png" alt="" class="img-responsive image">
        </div>
        <div class="col-lg">
          <p class="heading">I Have Bad News For You</p>
          <div class="col-8">
            <p class="content">The page you are looking for might be removed or is temporarily unavailable</p>
          </div>
          <button class="btn button">Back to Homepage</button>
        </div>
      </div>
    </div>
  </div>
  <div>
      <p class="footer-text">Meet Thakkar @ DevChallenges.io</p>
  </div>
</div>